html,body {
    margin: 0;
    padding: 0;
}

:root {
    --cardheight: 400px;

}

.container{
    display: flex;
    justify-content: center;
    margin: 4em;
}

.card{
    border: 1px solid #333;
    height: var(--cardheight);
    width: calc(var(--cardheight) * 2/3);
    border-radius: 5px;
    display: grid;
    padding: 1em;
    grid-template-columns: 10% 80% 10%;
    color: red;
    font-size: 3em;
}

.middle{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

.bottom{
    transform: rotate(180deg);
}

.top > div:first-child
.bottom > div:first-child {
    padding-left: 4px;
}

.middle :nth-child(3)
.middle :nth-child(4) {
    transform: rotate(180deg);
}